{"openapi":"3.1.0","info":{"title":"CNAP API","version":"1.0.0","description":"Public API for managing CNAP workspaces, clusters, templates, products, and deployments.\n\nAuthenticate with a Personal Access Token via the `Authorization: Bearer cnap_pat_...` header.\n\nWorkspace-scoped endpoints require the `X-Workspace-Id` header."},"servers":[{"url":"https://api.cnap.tech","description":"Production"}],"components":{"securitySchemes":{"BearerAuth":{"type":"http","scheme":"bearer","description":"Personal Access Token (cnap_pat_...) or OAuth2 JWT. Create tokens at https://dash.cnap.tech/settings/tokens"}},"schemas":{"ApiTokenList":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/ApiToken"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]},"ApiToken":{"type":"object","properties":{"id":{"type":"string","example":"j572abc123def456"},"name":{"type":"string","example":"My CLI token"},"prefix":{"type":"string","example":"cnap_pat_a3b2"},"createdAt":{"type":"number","description":"Unix timestamp (ms)","example":1708000000000},"lastUsedAt":{"type":"number","nullable":true,"description":"Unix timestamp (ms) of last use"},"expiresAt":{"type":"number","nullable":true,"description":"Unix timestamp (ms), null if never"}},"required":["id","name","prefix","createdAt","lastUsedAt","expiresAt"]},"Pagination":{"type":"object","properties":{"cursor":{"type":"string","nullable":true,"description":"Cursor for next page, null if no more"},"hasMore":{"type":"boolean"}},"required":["cursor","hasMore"]},"Error":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","example":"not_found"},"message":{"type":"string","example":"Resource not found"},"suggestion":{"type":"string","example":"Run `cnap clusters list` to see available clusters"},"details":{"nullable":true}},"required":["code","message"]}},"required":["error"]},"CreatedToken":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"token":{"type":"string","description":"The full token. This is shown only once — store it securely.","example":"cnap_pat_a3b2c4d5e6f7g8h9i0j1k2l3m4n5o6p7"}},"required":["id","name","token"]},"WorkspaceList":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Workspace"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]},"Workspace":{"type":"object","properties":{"id":{"type":"string","example":"j572abc123def456"},"name":{"type":"string","example":"My Workspace"},"icon":{"type":"string","nullable":true,"example":null},"createdAt":{"type":"number","description":"Unix timestamp (ms)"}},"required":["id","name","icon","createdAt"]},"ClusterList":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Cluster"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]},"Cluster":{"type":"object","properties":{"id":{"type":"string","example":"j572abc123def456"},"name":{"type":"string","example":"production"},"workspaceId":{"type":"string","example":"j572abc123def456"},"regionId":{"type":"string","example":"j572abc123def456"},"kaas":{"$ref":"#/components/schemas/KaasInfo"},"createdAt":{"type":"number","description":"Unix timestamp (ms)"}},"required":["id","name","workspaceId","regionId","kaas","createdAt"]},"KaasInfo":{"type":"object","nullable":true,"properties":{"version":{"type":"string","example":"v1.30"},"status":{"type":"string","enum":["PROVISIONING","RUNNING","RECONCILING","DELETING","ERROR","DEGRADED"],"example":"RUNNING"},"statusMessage":{"type":"string","nullable":true,"example":null}},"required":["version","status","statusMessage"],"description":"Present if cluster is KaaS-managed"},"TemplateList":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Template"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]},"Template":{"type":"object","properties":{"id":{"type":"string","example":"j572abc123def456"},"name":{"type":"string","example":"PostgreSQL HA"},"workspaceId":{"type":"string","example":"j572abc123def456"},"registryProxyMode":{"type":"string","nullable":true,"enum":["auto","always","never",null],"example":"auto"},"createdAt":{"type":"number","description":"Unix timestamp (ms)"}},"required":["id","name","workspaceId","registryProxyMode","createdAt"]},"TemplateDetail":{"allOf":[{"$ref":"#/components/schemas/Template"},{"type":"object","properties":{"helmSources":{"type":"array","items":{"$ref":"#/components/schemas/HelmSource"}}},"required":["helmSources"]}]},"HelmSource":{"type":"object","properties":{"id":{"type":"string","example":"j572abc123def456"},"chart":{"$ref":"#/components/schemas/HelmSourceChart"},"values":{"type":"object","additionalProperties":{"nullable":true}},"metadata":{"type":"object","additionalProperties":{"nullable":true}}},"required":["id","chart"]},"HelmSourceChart":{"type":"object","properties":{"repoUrl":{"type":"string","example":"https://charts.bitnami.com/bitnami"},"chart":{"type":"string","example":"postgresql"},"targetRevision":{"type":"string","example":"15.5.0"},"path":{"type":"string","example":"charts/my-chart"}},"required":["repoUrl","targetRevision"]},"ProductList":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Product"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]},"Product":{"type":"object","properties":{"id":{"type":"string","example":"j572abc123def456"},"name":{"type":"string","example":"PostgreSQL Managed"},"workspaceId":{"type":"string","example":"j572abc123def456"},"templateId":{"type":"string","example":"j572abc123def456"},"settings":{"type":"object","nullable":true,"properties":{"customImage":{"type":"string"},"customDescription":{"type":"string"},"showSources":{"type":"boolean"}}},"createdAt":{"type":"number","description":"Unix timestamp (ms)"}},"required":["id","name","workspaceId","templateId","settings","createdAt"]},"InstallList":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Install"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]},"Install":{"type":"object","properties":{"id":{"type":"string","example":"j572abc123def456"},"name":{"type":"string","nullable":true,"example":"my-postgres"},"workspaceId":{"type":"string","example":"j572abc123def456"},"productId":{"type":"string","nullable":true,"description":"Set for product-based installs"},"templateId":{"type":"string","nullable":true,"description":"Template driving this install"},"clusterId":{"type":"string","example":"j572abc123def456"},"createdAt":{"type":"number","description":"Unix timestamp (ms)"}},"required":["id","name","workspaceId","productId","templateId","clusterId","createdAt"]},"Pod":{"type":"object","properties":{"name":{"type":"string","example":"postgres-0"},"containers":{"type":"array","items":{"type":"string"},"example":["postgresql"]}},"required":["name","containers"]},"RegionList":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Region"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]},"Region":{"type":"object","properties":{"id":{"type":"string","example":"j572abc123def456"},"name":{"type":"string","example":"us-east-1"},"icon":{"type":"string","nullable":true,"description":"Icon URL"},"workspaceId":{"type":"string","example":"j572abc123def456"},"createdAt":{"type":"number","description":"Unix timestamp (ms)"}},"required":["id","name","icon","workspaceId","createdAt"]},"RegistryCredentialList":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/RegistryCredential"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]},"RegistryCredential":{"type":"object","properties":{"id":{"type":"string","example":"j572abc123def456"},"name":{"type":"string","example":"GitHub Container Registry"},"registryUrl":{"type":"string","example":"ghcr.io"},"type":{"type":"string","enum":["basic","token","oauth"],"description":"Auth type"},"isActive":{"type":"boolean","description":"Whether the credential is active"},"createdAt":{"type":"number","description":"Unix timestamp (ms)"},"lastUsedAt":{"type":"number","nullable":true,"description":"Last used timestamp (ms)"}},"required":["id","name","registryUrl","type","isActive","createdAt","lastUsedAt"]}},"parameters":{}},"paths":{"/v1/user/tokens":{"get":{"tags":["Auth"],"summary":"List personal access tokens","description":"Returns metadata for all tokens. Full token values are never shown after creation.","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Pagination cursor from previous response"},"required":false,"description":"Pagination cursor from previous response","name":"cursor","in":"query"},{"schema":{"type":"integer","minimum":1,"maximum":100,"default":50,"description":"Items per page (1-100)","example":50},"required":false,"description":"Items per page (1-100)","name":"limit","in":"query"}],"responses":{"200":{"description":"List of tokens","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiTokenList"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"post":{"tags":["Auth"],"summary":"Create a personal access token","description":"Creates a new PAT. The full token is returned in the response and never shown again.","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":100,"description":"Human-readable name for the token","example":"My CLI token"},"expiresInDays":{"type":"integer","minimum":0,"exclusiveMinimum":true,"description":"Token expiry in days. Omit for no expiry."}},"required":["name"]}}}},"responses":{"201":{"description":"Token created. The `token` field is shown only once.","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/CreatedToken"}},"required":["data"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/user/tokens/{id}":{"delete":{"tags":["Auth"],"summary":"Revoke a personal access token","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Token ID"},"required":true,"description":"Token ID","name":"id","in":"path"}],"responses":{"204":{"description":"Token revoked"},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Token not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/workspaces":{"get":{"tags":["Workspaces"],"summary":"List workspaces","description":"Lists all workspaces the authenticated user belongs to. No X-Workspace-Id needed.","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Pagination cursor from previous response"},"required":false,"description":"Pagination cursor from previous response","name":"cursor","in":"query"},{"schema":{"type":"integer","minimum":1,"maximum":100,"default":50,"description":"Items per page (1-100)","example":50},"required":false,"description":"Items per page (1-100)","name":"limit","in":"query"}],"responses":{"200":{"description":"List of workspaces","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkspaceList"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/workspaces/{id}":{"get":{"tags":["Workspaces"],"summary":"Get workspace details","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Workspace ID"},"required":true,"description":"Workspace ID","name":"id","in":"path"}],"responses":{"200":{"description":"Workspace details","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Workspace"}},"required":["data"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Not a member of this workspace","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Workspace not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/clusters":{"get":{"tags":["Clusters"],"summary":"List clusters in workspace","description":"Lists all clusters in the workspace specified by the X-Workspace-Id header.","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Pagination cursor from previous response"},"required":false,"description":"Pagination cursor from previous response","name":"cursor","in":"query"},{"schema":{"type":"integer","minimum":1,"maximum":100,"default":50,"description":"Items per page (1-100)","example":50},"required":false,"description":"Items per page (1-100)","name":"limit","in":"query"}],"responses":{"200":{"description":"List of clusters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClusterList"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Missing or invalid workspace","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/clusters/{id}":{"get":{"tags":["Clusters"],"summary":"Get cluster details","description":"Returns detailed information about a cluster, including KaaS status if applicable.","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Cluster ID"},"required":true,"description":"Cluster ID","name":"id","in":"path"}],"responses":{"200":{"description":"Cluster details","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Cluster"}},"required":["data"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Not a member of the cluster workspace","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Cluster not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"patch":{"tags":["Clusters"],"summary":"Update cluster","description":"Update cluster name or region. The region must be in the same workspace.","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Cluster ID"},"required":true,"description":"Cluster ID","name":"id","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":100,"example":"staging"},"regionId":{"type":"string","description":"Region ID"}}}}}},"responses":{"200":{"description":"Updated cluster","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Cluster"}},"required":["data"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Not a member of the cluster workspace","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Cluster not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"delete":{"tags":["Clusters"],"summary":"Delete cluster","description":"Deletes a cluster and its configuration. KaaS-managed clusters are deprovisioned. Fails if the cluster has active installations.","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Cluster ID"},"required":true,"description":"Cluster ID","name":"id","in":"path"}],"responses":{"204":{"description":"Cluster deleted"},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Not a member of the cluster workspace","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Cluster not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"409":{"description":"Cluster has active installations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/clusters/{id}/kubeconfig":{"get":{"tags":["Clusters"],"summary":"Get cluster kubeconfig","description":"Returns the admin kubeconfig for a KaaS-managed cluster as YAML. The cluster must be in RUNNING status.","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Cluster ID"},"required":true,"description":"Cluster ID","name":"id","in":"path"}],"responses":{"200":{"description":"Admin kubeconfig (YAML)","content":{"application/yaml":{"schema":{"type":"string"}}}},"400":{"description":"Cluster is not in RUNNING status","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Not a member of the cluster workspace","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Cluster not found or not KaaS-managed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/templates":{"get":{"tags":["Templates"],"summary":"List templates in workspace","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Pagination cursor from previous response"},"required":false,"description":"Pagination cursor from previous response","name":"cursor","in":"query"},{"schema":{"type":"integer","minimum":1,"maximum":100,"default":50,"description":"Items per page (1-100)","example":50},"required":false,"description":"Items per page (1-100)","name":"limit","in":"query"}],"responses":{"200":{"description":"List of templates","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TemplateList"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Missing or invalid workspace","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"post":{"tags":["Templates"],"summary":"Create template","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":100,"example":"PostgreSQL HA"},"sources":{"type":"array","items":{"type":"object","properties":{"chart":{"type":"object","properties":{"repoUrl":{"type":"string"},"chart":{"type":"string"},"targetRevision":{"type":"string"},"path":{"type":"string"}},"required":["repoUrl","targetRevision"]},"values":{"type":"object","additionalProperties":{"nullable":true}},"metadata":{"type":"object","properties":{"artifactHubHelmPackage":{"type":"object","additionalProperties":{"nullable":true}},"image":{"type":"object","properties":{"url":{"type":"string"},"tag":{"type":"string"},"github":{"type":"object","properties":{"workflowRunId":{"type":"string"},"repository":{"type":"object","properties":{"id":{"type":"number"},"htmlUrl":{"type":"string"},"name":{"type":"string"},"fullName":{"type":"string"},"owner":{"type":"object","properties":{"login":{"type":"string"},"id":{"type":"number"},"type":{"type":"string"},"avatarUrl":{"type":"string"},"htmlUrl":{"type":"string"}},"required":["login","id","type","avatarUrl","htmlUrl"]}},"required":["id","htmlUrl","name","fullName","owner"]}}}},"required":["url","tag"]},"autoDeploy":{"type":"boolean"}}}},"required":["chart"]},"minItems":1},"registryProxyMode":{"type":"string","enum":["auto","always","never"]}},"required":["name","sources"]}}}},"responses":{"201":{"description":"Template created","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"templateId":{"type":"string"}},"required":["templateId"]}},"required":["data"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Missing or invalid workspace","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/templates/{id}":{"get":{"tags":["Templates"],"summary":"Get template details","description":"Returns template with its helm sources.","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Template ID"},"required":true,"description":"Template ID","name":"id","in":"path"}],"responses":{"200":{"description":"Template details","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/TemplateDetail"}},"required":["data"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Template not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"patch":{"tags":["Templates"],"summary":"Update template","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Template ID"},"required":true,"description":"Template ID","name":"id","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":100},"sources":{"type":"array","items":{"type":"object","properties":{"chart":{"type":"object","properties":{"repoUrl":{"type":"string"},"chart":{"type":"string"},"targetRevision":{"type":"string"},"path":{"type":"string"}},"required":["repoUrl","targetRevision"]},"values":{"type":"object","additionalProperties":{"nullable":true}},"metadata":{"type":"object","properties":{"artifactHubHelmPackage":{"type":"object","additionalProperties":{"nullable":true}},"image":{"type":"object","properties":{"url":{"type":"string"},"tag":{"type":"string"},"github":{"type":"object","properties":{"workflowRunId":{"type":"string"},"repository":{"type":"object","properties":{"id":{"type":"number"},"htmlUrl":{"type":"string"},"name":{"type":"string"},"fullName":{"type":"string"},"owner":{"type":"object","properties":{"login":{"type":"string"},"id":{"type":"number"},"type":{"type":"string"},"avatarUrl":{"type":"string"},"htmlUrl":{"type":"string"}},"required":["login","id","type","avatarUrl","htmlUrl"]}},"required":["id","htmlUrl","name","fullName","owner"]}}}},"required":["url","tag"]},"autoDeploy":{"type":"boolean"}}}},"required":["chart"]},"minItems":1},"registryProxyMode":{"type":"string","enum":["auto","always","never"]}}}}}},"responses":{"200":{"description":"Template updated","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"templateId":{"type":"string"}},"required":["templateId"]}},"required":["data"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Template not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"delete":{"tags":["Templates"],"summary":"Delete template","description":"Fails if referenced by products or installs.","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Template ID"},"required":true,"description":"Template ID","name":"id","in":"path"}],"responses":{"204":{"description":"Template deleted"},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Template not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"409":{"description":"Template is referenced by products or installs","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/products":{"get":{"tags":["Products"],"summary":"List products in workspace","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Pagination cursor from previous response"},"required":false,"description":"Pagination cursor from previous response","name":"cursor","in":"query"},{"schema":{"type":"integer","minimum":1,"maximum":100,"default":50,"description":"Items per page (1-100)","example":50},"required":false,"description":"Items per page (1-100)","name":"limit","in":"query"}],"responses":{"200":{"description":"List of products","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductList"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Missing or invalid workspace","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"post":{"tags":["Products"],"summary":"Create product","description":"Creates a product with helm sources and cluster associations. Triggers async chart generation.","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":2,"maxLength":32,"example":"PostgreSQL Managed"},"sources":{"type":"array","items":{"type":"object","properties":{"chart":{"type":"object","properties":{"repoUrl":{"type":"string"},"chart":{"type":"string"},"targetRevision":{"type":"string"},"path":{"type":"string"}},"required":["repoUrl","targetRevision"]},"values":{"type":"object","additionalProperties":{"nullable":true}},"metadata":{"type":"object","additionalProperties":{"nullable":true}}},"required":["chart"]},"minItems":1},"clusterIds":{"type":"array","items":{"type":"string"},"minItems":1,"description":"Cluster IDs to deploy to"},"stripePriceIds":{"type":"array","items":{"type":"string"}},"settings":{"type":"object","properties":{"customImage":{"type":"string"},"customDescription":{"type":"string"},"showSources":{"type":"boolean"}}}},"required":["name","sources","clusterIds"]}}}},"responses":{"201":{"description":"Product created","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"productId":{"type":"string"},"templateId":{"type":"string"}},"required":["productId","templateId"]}},"required":["data"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Missing or invalid workspace","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/products/{id}":{"get":{"tags":["Products"],"summary":"Get product details","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Product ID"},"required":true,"description":"Product ID","name":"id","in":"path"}],"responses":{"200":{"description":"Product details","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Product"}},"required":["data"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Product not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"patch":{"tags":["Products"],"summary":"Update product","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Product ID"},"required":true,"description":"Product ID","name":"id","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":2,"maxLength":32,"example":"PostgreSQL Managed"},"sources":{"type":"array","items":{"type":"object","properties":{"chart":{"type":"object","properties":{"repoUrl":{"type":"string"},"chart":{"type":"string"},"targetRevision":{"type":"string"},"path":{"type":"string"}},"required":["repoUrl","targetRevision"]},"values":{"type":"object","additionalProperties":{"nullable":true}},"metadata":{"type":"object","additionalProperties":{"nullable":true}}},"required":["chart"]},"minItems":1},"clusterIds":{"type":"array","items":{"type":"string"},"minItems":1},"stripePriceIds":{"type":"array","items":{"type":"string"}},"settings":{"type":"object","properties":{"customImage":{"type":"string"},"customDescription":{"type":"string"},"showSources":{"type":"boolean"}}}},"required":["name","sources","clusterIds"]}}}},"responses":{"200":{"description":"Product updated","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"object","properties":{"productId":{"type":"string"},"templateId":{"type":"string"}},"required":["productId","templateId"]}},"required":["data"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Product not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"delete":{"tags":["Products"],"summary":"Delete product","description":"Fails if the product has active installs.","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Product ID"},"required":true,"description":"Product ID","name":"id","in":"path"}],"responses":{"204":{"description":"Product deleted"},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Product not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"409":{"description":"Product has active installs","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/installs":{"get":{"tags":["Installs"],"summary":"List installs in workspace","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Pagination cursor from previous response"},"required":false,"description":"Pagination cursor from previous response","name":"cursor","in":"query"},{"schema":{"type":"integer","minimum":1,"maximum":100,"default":50,"description":"Items per page (1-100)","example":50},"required":false,"description":"Items per page (1-100)","name":"limit","in":"query"}],"responses":{"200":{"description":"List of installs","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InstallList"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Missing or invalid workspace","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"post":{"tags":["Installs"],"summary":"Create product install","description":"Deploys a product to a region. Uses the idempotency key to prevent duplicate installs.","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"productId":{"type":"string","description":"Product ID"},"regionId":{"type":"string","description":"Region ID"},"overrides":{"type":"array","items":{"type":"object","properties":{"templateHelmSourceId":{"type":"string","description":"Helm source ID to override"},"values":{"type":"object","additionalProperties":{"nullable":true},"description":"Helm values"}},"required":["templateHelmSourceId","values"]},"description":"Initial value overrides per helm source"}},"required":["productId","regionId"]}}}},"responses":{"202":{"description":"Install workflow started"},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Missing or invalid workspace","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/installs/{id}":{"get":{"tags":["Installs"],"summary":"Get install details","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Install ID"},"required":true,"description":"Install ID","name":"id","in":"path"}],"responses":{"200":{"description":"Install details","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Install"}},"required":["data"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Install not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"delete":{"tags":["Installs"],"summary":"Delete install","description":"Triggers async deletion of the install and its resources.","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Install ID"},"required":true,"description":"Install ID","name":"id","in":"path"}],"responses":{"202":{"description":"Deletion started"},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Install not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/installs/{id}/pods":{"get":{"tags":["Installs"],"summary":"List pods for install","description":"Returns pods and their containers for the install.","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Install ID"},"required":true,"description":"Install ID","name":"id","in":"path"}],"responses":{"200":{"description":"List of pods","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Pod"}}},"required":["data"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Install not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/installs/standalone":{"post":{"tags":["Installs"],"summary":"Create standalone install","description":"Deploys custom helm sources directly to clusters without a product.","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1,"example":"my-redis"},"clusterIds":{"type":"array","items":{"type":"string"},"minItems":1,"description":"Cluster IDs to deploy to"},"helmSources":{"type":"array","items":{"type":"object","properties":{"chart":{"type":"object","properties":{"repoUrl":{"type":"string"},"chart":{"type":"string"},"targetRevision":{"type":"string"},"path":{"type":"string"}},"required":["repoUrl","targetRevision"]},"values":{"type":"object","additionalProperties":{"nullable":true}},"metadata":{"type":"object","additionalProperties":{"nullable":true}}},"required":["chart"]},"minItems":1}},"required":["name","clusterIds","helmSources"]}}}},"responses":{"202":{"description":"Install workflow started"},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Missing or invalid workspace","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/installs/{id}/values":{"patch":{"tags":["Installs"],"summary":"Update install template values","description":"Updates template helm source values and regenerates the chart. Use this for standalone installs or to change the base values of a product install.","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Install ID"},"required":true,"description":"Install ID","name":"id","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"updates":{"type":"array","items":{"type":"object","properties":{"templateHelmSourceId":{"type":"string","description":"Helm source ID"},"values":{"type":"object","additionalProperties":{"nullable":true},"description":"Helm values"}},"required":["templateHelmSourceId","values"]},"minItems":1}},"required":["updates"]}}}},"responses":{"202":{"description":"Update workflow started"},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Install not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/installs/{id}/overrides":{"patch":{"tags":["Installs"],"summary":"Update install value overrides","description":"Applies per-install value overrides on top of the product base values. Does not regenerate the chart.","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Install ID"},"required":true,"description":"Install ID","name":"id","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"updates":{"type":"array","items":{"type":"object","properties":{"templateHelmSourceId":{"type":"string","description":"Helm source ID"},"values":{"type":"object","additionalProperties":{"nullable":true},"description":"Override values"}},"required":["templateHelmSourceId","values"]},"minItems":1}},"required":["updates"]}}}},"responses":{"202":{"description":"Update workflow started"},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Install not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/installs/{id}/logs":{"get":{"tags":["Installs"],"summary":"Stream install logs","description":"Streams logs from the install pods via Server-Sent Events. Use the `Accept: text/event-stream` header.","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Install ID"},"required":true,"description":"Install ID","name":"id","in":"path"},{"schema":{"type":"string","description":"Pod name (all pods if omitted)"},"required":false,"description":"Pod name (all pods if omitted)","name":"pod","in":"query"},{"schema":{"type":"string","description":"Container name"},"required":false,"description":"Container name","name":"container","in":"query"},{"schema":{"type":"boolean","nullable":true,"default":true,"description":"Follow log output"},"required":false,"description":"Follow log output","name":"follow","in":"query"},{"schema":{"type":"integer","nullable":true,"description":"Lines to tail"},"required":false,"description":"Lines to tail","name":"tail","in":"query"},{"schema":{"type":"integer","nullable":true,"default":0,"description":"Only return logs newer than this many seconds"},"required":false,"description":"Only return logs newer than this many seconds","name":"sinceSeconds","in":"query"}],"responses":{"200":{"description":"Log stream (text/event-stream)"},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Install not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/regions":{"get":{"tags":["Regions"],"summary":"List regions in workspace","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Pagination cursor from previous response"},"required":false,"description":"Pagination cursor from previous response","name":"cursor","in":"query"},{"schema":{"type":"integer","minimum":1,"maximum":100,"default":50,"description":"Items per page (1-100)","example":50},"required":false,"description":"Items per page (1-100)","name":"limit","in":"query"}],"responses":{"200":{"description":"List of regions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegionList"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Missing or invalid workspace","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"post":{"tags":["Regions"],"summary":"Create region","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":100,"example":"us-east-1"},"icon":{"type":"string","maxLength":256,"format":"uri","description":"Icon URL"}},"required":["name"]}}}},"responses":{"201":{"description":"Region created","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/Region"}},"required":["data"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Missing or invalid workspace","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/registry/credentials":{"get":{"tags":["Registry"],"summary":"List registry credentials","description":"Returns credentials for the workspace. Credential secrets are never exposed.","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Pagination cursor from previous response"},"required":false,"description":"Pagination cursor from previous response","name":"cursor","in":"query"},{"schema":{"type":"integer","minimum":1,"maximum":100,"default":50,"description":"Items per page (1-100)","example":50},"required":false,"description":"Items per page (1-100)","name":"limit","in":"query"}],"responses":{"200":{"description":"List of credentials","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegistryCredentialList"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Missing or invalid workspace","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"post":{"tags":["Registry"],"summary":"Create registry credential","description":"Adds a registry credential to the workspace for OCI proxy authentication.","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1,"example":"GitHub Container Registry"},"registryUrl":{"type":"string","minLength":1,"example":"ghcr.io"},"type":{"type":"string","enum":["basic","token","oauth"],"description":"Auth type"},"credentials":{"type":"object","properties":{"username":{"type":"string"},"password":{"type":"string"},"token":{"type":"string"},"clientId":{"type":"string"},"clientSecret":{"type":"string"},"tokenUrl":{"type":"string"}},"description":"Auth credentials (type-dependent)"}},"required":["name","registryUrl","type","credentials"]}}}},"responses":{"201":{"description":"Credential created"},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Missing or invalid workspace","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/registry/credentials/{id}":{"delete":{"tags":["Registry"],"summary":"Delete registry credential","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Credential ID"},"required":true,"description":"Credential ID","name":"id","in":"path"}],"responses":{"204":{"description":"Credential deleted"},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Credential not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}}}}