{"openapi":"3.1.0","info":{"title":"CNAP API","version":"1.0.0","description":"Public API for managing CNAP workspaces, clusters, templates, products, and deployments.\n\nAuthenticate with a Personal Access Token via the `Authorization: Bearer cnap_pat_...` header.\n\nWorkspace-scoped endpoints require the `X-Workspace-Id` header."},"servers":[{"url":"https://api.cnap.tech","description":"Production"}],"components":{"securitySchemes":{"BearerAuth":{"type":"http","scheme":"bearer","description":"Personal Access Token (cnap_pat_...) or OAuth2 JWT. Create tokens at https://cnap.tech/account/tokens"}},"schemas":{"ApiTokenList":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/ApiToken"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]},"ApiToken":{"type":"object","properties":{"id":{"type":"string","example":"j572abc123def456"},"name":{"type":"string","example":"My CLI token"},"prefix":{"type":"string","example":"cnap_pat_a3b2"},"created_at":{"type":"number","description":"Unix timestamp (seconds)","example":1708000000},"last_used_at":{"type":"number","nullable":true,"description":"Unix timestamp (seconds) of last use"},"expires_at":{"type":"number","nullable":true,"description":"Unix timestamp (seconds), null if never"}},"required":["id","name","prefix","created_at","last_used_at","expires_at"]},"Pagination":{"type":"object","properties":{"cursor":{"type":"string","nullable":true,"description":"Cursor for next page, null if no more"},"has_more":{"type":"boolean"}},"required":["cursor","has_more"]},"Error":{"type":"object","properties":{"error":{"type":"object","properties":{"code":{"type":"string","example":"not_found"},"message":{"type":"string","example":"Resource not found"},"param":{"type":"string","description":"The request field that caused the error","example":"name"},"suggestion":{"type":"string","example":"Run `cnap clusters list` to see available clusters"},"details":{"nullable":true}},"required":["code","message"]}},"required":["error"]},"CreatedToken":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"token":{"type":"string","description":"The full token. This is shown only once — store it securely.","example":"cnap_pat_a3b2c4d5e6f7g8h9i0j1k2l3m4n5o6p7"}},"required":["id","name","token"]},"WorkspaceList":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Workspace"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]},"Workspace":{"type":"object","properties":{"id":{"type":"string","example":"j572abc123def456"},"name":{"type":"string","example":"My Workspace"},"icon":{"type":"string","nullable":true,"example":null},"created_at":{"type":"number","description":"Unix timestamp (seconds)"}},"required":["id","name","icon","created_at"]},"ClusterList":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Cluster"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]},"Cluster":{"type":"object","properties":{"id":{"type":"string","example":"j572abc123def456"},"name":{"type":"string","example":"production"},"workspace_id":{"type":"string","example":"j572abc123def456"},"region_id":{"type":"string","example":"j572abc123def456"},"kaas":{"$ref":"#/components/schemas/KaasInfo"},"created_at":{"type":"number","description":"Unix timestamp (seconds)"}},"required":["id","name","workspace_id","region_id","kaas","created_at"]},"KaasInfo":{"type":"object","nullable":true,"properties":{"version":{"type":"string","example":"v1.30","description":"Kubernetes version"},"status":{"type":"string","enum":["PROVISIONING","RUNNING","RECONCILING","DELETING","ERROR","DEGRADED"],"example":"RUNNING","description":"Current lifecycle status of the KaaS cluster"},"status_message":{"type":"string","nullable":true,"example":null,"description":"Human-readable status details"}},"required":["version","status","status_message"],"description":"Present if cluster is KaaS-managed"},"TemplateList":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Template"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]},"Template":{"type":"object","properties":{"id":{"type":"string","example":"j572abc123def456"},"name":{"type":"string","example":"PostgreSQL HA"},"workspace_id":{"type":"string","example":"j572abc123def456"},"registry_proxy_mode":{"type":"string","nullable":true,"enum":["auto","always","never",null],"example":"auto","description":"OCI registry proxy mode for image pulls"},"created_at":{"type":"number","description":"Unix timestamp (seconds)"}},"required":["id","name","workspace_id","registry_proxy_mode","created_at"]},"TemplateDetail":{"allOf":[{"$ref":"#/components/schemas/Template"},{"type":"object","properties":{"helm_sources":{"type":"array","items":{"$ref":"#/components/schemas/HelmSource"},"description":"Helm chart sources for this template"}},"required":["helm_sources"]}]},"HelmSource":{"type":"object","properties":{"id":{"type":"string","example":"j572abc123def456"},"chart":{"$ref":"#/components/schemas/HelmSourceChart"},"values":{"type":"object","additionalProperties":{"nullable":true},"description":"Helm values override"},"metadata":{"type":"object","additionalProperties":{"nullable":true},"description":"Source metadata (ArtifactHub info, image details)"}},"required":["id","chart"]},"HelmSourceChart":{"type":"object","properties":{"repo_url":{"type":"string","example":"https://charts.bitnami.com/bitnami","description":"Helm repository URL or Git repository URL"},"chart":{"type":"string","example":"postgresql","description":"Chart name within the repository"},"target_revision":{"type":"string","example":"15.5.0","description":"Chart version or Git revision"},"path":{"type":"string","example":"charts/my-chart","description":"Path within a Git repository to the chart"}},"required":["repo_url","target_revision"]},"ProductList":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Product"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]},"Product":{"type":"object","properties":{"id":{"type":"string","example":"j572abc123def456"},"name":{"type":"string","example":"PostgreSQL Managed"},"workspace_id":{"type":"string","example":"j572abc123def456"},"template_id":{"type":"string","example":"j572abc123def456","description":"Template backing this product"},"settings":{"type":"object","nullable":true,"properties":{"custom_image":{"type":"string","description":"Custom marketplace image URL"},"custom_description":{"type":"string","description":"Custom marketplace description"},"show_sources":{"type":"boolean","description":"Show helm sources on marketplace page"}},"description":"Marketplace display settings"},"created_at":{"type":"number","description":"Unix timestamp (seconds)"}},"required":["id","name","workspace_id","template_id","settings","created_at"]},"InstallList":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Install"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]},"Install":{"type":"object","properties":{"id":{"type":"string","example":"j572abc123def456"},"name":{"type":"string","nullable":true,"example":"my-postgres"},"workspace_id":{"type":"string","example":"j572abc123def456"},"product_id":{"type":"string","nullable":true,"description":"Set for product-based installs"},"template_id":{"type":"string","nullable":true,"description":"Template driving this install"},"cluster_id":{"type":"string","example":"j572abc123def456"},"created_at":{"type":"number","description":"Unix timestamp (seconds)"}},"required":["id","name","workspace_id","product_id","template_id","cluster_id","created_at"]},"Pod":{"type":"object","properties":{"name":{"type":"string","example":"postgres-0"},"containers":{"type":"array","items":{"type":"string"},"example":["postgresql"]}},"required":["name","containers"]},"RegionList":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Region"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]},"Region":{"type":"object","properties":{"id":{"type":"string","example":"j572abc123def456"},"name":{"type":"string","example":"us-east-1"},"icon":{"type":"string","nullable":true,"description":"Icon URL"},"workspace_id":{"type":"string","example":"j572abc123def456"},"created_at":{"type":"number","description":"Unix timestamp (seconds)"}},"required":["id","name","icon","workspace_id","created_at"]},"RegistryCredentialList":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/RegistryCredential"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]},"RegistryCredential":{"type":"object","properties":{"id":{"type":"string","example":"j572abc123def456"},"name":{"type":"string","example":"GitHub Container Registry"},"registry_url":{"type":"string","example":"ghcr.io"},"type":{"type":"string","enum":["basic","token","oauth"],"description":"Auth type"},"is_active":{"type":"boolean","description":"Whether the credential is active"},"created_at":{"type":"number","description":"Unix timestamp (seconds)"},"last_used_at":{"type":"number","nullable":true,"description":"Unix timestamp (seconds)"}},"required":["id","name","registry_url","type","is_active","created_at","last_used_at"]},"ExecResult":{"type":"object","properties":{"stdout":{"type":"string","description":"Standard output"},"stderr":{"type":"string","description":"Standard error"},"exit_code":{"type":"integer","description":"Exit code (0 = success)"}},"required":["stdout","stderr","exit_code"]},"SnippetList":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Snippet"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]},"Snippet":{"type":"object","properties":{"id":{"type":"string","example":"j572abc123def456"},"name":{"type":"string","example":"Cluster Resource Audit"},"description":{"type":"string","nullable":true,"example":"Checks resource requests and limits"},"code":{"type":"string","example":"async () => { ... }","description":"Async JavaScript function body executed in a sandboxed V8 isolate. Has access to cnap.request() for API calls."},"display_type":{"type":"string","enum":["table","stat","json","logs"],"description":"Controls how the snippet result is rendered in dashboard widgets","example":"table"},"workspace_id":{"type":"string","example":"j572abc123def456"},"created_by":{"type":"string","description":"User ID of the snippet creator"},"created_at":{"type":"number","description":"Unix timestamp (seconds)"}},"required":["id","name","description","code","display_type","workspace_id","created_by","created_at"]},"DashboardList":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Dashboard"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["data","pagination"]},"Dashboard":{"type":"object","properties":{"id":{"type":"string","example":"j572abc123def456"},"name":{"type":"string","example":"Cluster Overview"},"description":{"type":"string","nullable":true,"description":"Optional dashboard description"},"workspace_id":{"type":"string"},"widgets":{"type":"array","items":{"$ref":"#/components/schemas/DashboardWidget"},"description":"Ordered list of widgets in the dashboard grid"},"created_by":{"type":"string","description":"User ID of the dashboard creator"},"created_at":{"type":"number","description":"Unix timestamp (seconds)"}},"required":["id","name","description","workspace_id","widgets","created_by","created_at"]},"DashboardWidget":{"type":"object","properties":{"snippet_id":{"type":"string","description":"ID of the snippet this widget runs"},"col_span":{"type":"integer","minimum":1,"maximum":4,"description":"Column span in the grid (1–4)"},"display_type":{"type":"string","nullable":true,"enum":["table","stat","json","logs",null],"description":"Override the snippet default display type for this widget"}},"required":["snippet_id","col_span","display_type"]}},"parameters":{}},"paths":{"/v1/user/tokens":{"get":{"tags":["Auth"],"summary":"List personal access tokens","description":"Returns metadata for all tokens. Full token values are never shown after creation.","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Pagination cursor from previous response"},"required":false,"description":"Pagination cursor from previous response","name":"cursor","in":"query"},{"schema":{"type":"integer","minimum":1,"maximum":100,"default":50,"description":"Items per page (1-100)","example":50},"required":false,"description":"Items per page (1-100)","name":"limit","in":"query"}],"responses":{"200":{"description":"List of tokens","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiTokenList"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"post":{"tags":["Auth"],"summary":"Create a personal access token","description":"Creates a new PAT. The full token is returned in the response and never shown again.","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":100,"description":"Human-readable name for the token","example":"My CLI token"},"expires_at":{"type":"integer","minimum":0,"exclusiveMinimum":true,"description":"Unix timestamp (seconds) when the token expires. Omit for no expiry.","example":1742169600}},"required":["name"]}}}},"responses":{"201":{"description":"Token created. The `token` field is shown only once.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreatedToken"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/user/tokens/{id}":{"delete":{"tags":["Auth"],"summary":"Revoke a personal access token","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Token ID"},"required":true,"description":"Token ID","name":"id","in":"path"}],"responses":{"204":{"description":"Token revoked"},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Token not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/workspaces":{"get":{"tags":["Workspaces"],"summary":"List workspaces","description":"Lists all workspaces the authenticated user belongs to. No X-Workspace-Id needed.","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Pagination cursor from previous response"},"required":false,"description":"Pagination cursor from previous response","name":"cursor","in":"query"},{"schema":{"type":"integer","minimum":1,"maximum":100,"default":50,"description":"Items per page (1-100)","example":50},"required":false,"description":"Items per page (1-100)","name":"limit","in":"query"}],"responses":{"200":{"description":"List of workspaces","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkspaceList"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/workspaces/{id}":{"get":{"tags":["Workspaces"],"summary":"Get workspace details","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Workspace ID"},"required":true,"description":"Workspace ID","name":"id","in":"path"}],"responses":{"200":{"description":"Workspace details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Workspace"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Not a member of this workspace","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Workspace not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/clusters":{"get":{"tags":["Clusters"],"summary":"List clusters in workspace","description":"Lists all clusters in the workspace specified by the X-Workspace-Id header.","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Pagination cursor from previous response"},"required":false,"description":"Pagination cursor from previous response","name":"cursor","in":"query"},{"schema":{"type":"integer","minimum":1,"maximum":100,"default":50,"description":"Items per page (1-100)","example":50},"required":false,"description":"Items per page (1-100)","name":"limit","in":"query"}],"responses":{"200":{"description":"List of clusters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClusterList"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Missing or invalid workspace","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/clusters/{id}":{"get":{"tags":["Clusters"],"summary":"Get cluster details","description":"Returns detailed information about a cluster, including KaaS status if applicable.","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Cluster ID"},"required":true,"description":"Cluster ID","name":"id","in":"path"}],"responses":{"200":{"description":"Cluster details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cluster"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Not a member of the cluster workspace","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Cluster not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"patch":{"tags":["Clusters"],"summary":"Update cluster","description":"Update cluster name or region. The region must be in the same workspace.","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Cluster ID"},"required":true,"description":"Cluster ID","name":"id","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":100,"example":"staging"},"region_id":{"type":"string","description":"Region ID"}}}}}},"responses":{"200":{"description":"Updated cluster","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cluster"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Not a member of the cluster workspace","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Cluster not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"delete":{"tags":["Clusters"],"summary":"Delete cluster","description":"Deletes a cluster and its configuration. KaaS-managed clusters are deprovisioned. Fails if the cluster has active installations.","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Cluster ID"},"required":true,"description":"Cluster ID","name":"id","in":"path"}],"responses":{"204":{"description":"Cluster deleted"},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Not a member of the cluster workspace","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Cluster not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"409":{"description":"Cluster has active installations","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/clusters/{id}/kubeconfig":{"get":{"tags":["Clusters"],"summary":"Get cluster kubeconfig","description":"Returns the admin kubeconfig for a KaaS-managed cluster. The cluster must be in RUNNING status.\n\nSupports content negotiation via the `Accept` header:\n- `application/json` — returns JSON (default for API clients)\n- `application/yaml` — returns YAML (default for kubectl/CLI)","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Cluster ID"},"required":true,"description":"Cluster ID","name":"id","in":"path"}],"responses":{"200":{"description":"Admin kubeconfig","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"nullable":true},"description":"Kubeconfig as JSON"}},"application/yaml":{"schema":{"type":"string"}}}},"400":{"description":"Cluster is not in RUNNING status","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Not a member of the cluster workspace","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Cluster not found or not KaaS-managed","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/templates":{"get":{"tags":["Templates"],"summary":"List templates in workspace","description":"Returns all templates belonging to the workspace specified in the X-Workspace-Id header.","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Pagination cursor from previous response"},"required":false,"description":"Pagination cursor from previous response","name":"cursor","in":"query"},{"schema":{"type":"integer","minimum":1,"maximum":100,"default":50,"description":"Items per page (1-100)","example":50},"required":false,"description":"Items per page (1-100)","name":"limit","in":"query"}],"responses":{"200":{"description":"List of templates","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TemplateList"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Missing or invalid workspace","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"post":{"tags":["Templates"],"summary":"Create template","description":"Creates a template with helm sources. Templates define the Kubernetes resources that products deploy.","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":100,"example":"PostgreSQL HA"},"sources":{"type":"array","items":{"type":"object","properties":{"chart":{"type":"object","properties":{"repo_url":{"type":"string","minLength":1,"maxLength":2048},"chart":{"type":"string","minLength":1,"maxLength":100},"target_revision":{"type":"string","minLength":1,"maxLength":100},"path":{"type":"string","minLength":1,"maxLength":500}},"required":["repo_url","target_revision"]},"values":{"type":"object","additionalProperties":{"nullable":true}},"metadata":{"type":"object","properties":{"artifact_hub_helm_package":{"type":"object","additionalProperties":{"nullable":true}},"image":{"type":"object","properties":{"url":{"type":"string","minLength":1,"maxLength":2048},"tag":{"type":"string","minLength":1,"maxLength":200},"github":{"type":"object","properties":{"workflow_run_id":{"type":"string","minLength":1,"maxLength":100},"repository":{"type":"object","properties":{"id":{"type":"number"},"html_url":{"type":"string","minLength":1,"maxLength":2048},"name":{"type":"string","minLength":1,"maxLength":100},"full_name":{"type":"string","minLength":1,"maxLength":200},"owner":{"type":"object","properties":{"login":{"type":"string","minLength":1,"maxLength":100},"id":{"type":"number"},"type":{"type":"string","minLength":1,"maxLength":50},"avatar_url":{"type":"string","minLength":1,"maxLength":2048},"html_url":{"type":"string","minLength":1,"maxLength":2048}},"required":["login","id","type","avatar_url","html_url"]}},"required":["id","html_url","name","full_name","owner"]}}}},"required":["url","tag"]},"auto_deploy":{"type":"boolean"}}}},"required":["chart"]},"minItems":1},"registry_proxy_mode":{"type":"string","enum":["auto","always","never"]}},"required":["name","sources"]}}}},"responses":{"201":{"description":"Template created","content":{"application/json":{"schema":{"type":"object","properties":{"template_id":{"type":"string"}},"required":["template_id"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Missing or invalid workspace","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/templates/{id}":{"get":{"tags":["Templates"],"summary":"Get template details","description":"Returns template with its helm sources.","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Template ID"},"required":true,"description":"Template ID","name":"id","in":"path"}],"responses":{"200":{"description":"Template details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TemplateDetail"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Template not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"patch":{"tags":["Templates"],"summary":"Update template","description":"Partially updates a template. Only provided fields are changed. Updating sources triggers async chart regeneration.","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Template ID"},"required":true,"description":"Template ID","name":"id","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":100},"sources":{"type":"array","items":{"type":"object","properties":{"chart":{"type":"object","properties":{"repo_url":{"type":"string","minLength":1,"maxLength":2048},"chart":{"type":"string","minLength":1,"maxLength":100},"target_revision":{"type":"string","minLength":1,"maxLength":100},"path":{"type":"string","minLength":1,"maxLength":500}},"required":["repo_url","target_revision"]},"values":{"type":"object","additionalProperties":{"nullable":true}},"metadata":{"type":"object","properties":{"artifact_hub_helm_package":{"type":"object","additionalProperties":{"nullable":true}},"image":{"type":"object","properties":{"url":{"type":"string","minLength":1,"maxLength":2048},"tag":{"type":"string","minLength":1,"maxLength":200},"github":{"type":"object","properties":{"workflow_run_id":{"type":"string","minLength":1,"maxLength":100},"repository":{"type":"object","properties":{"id":{"type":"number"},"html_url":{"type":"string","minLength":1,"maxLength":2048},"name":{"type":"string","minLength":1,"maxLength":100},"full_name":{"type":"string","minLength":1,"maxLength":200},"owner":{"type":"object","properties":{"login":{"type":"string","minLength":1,"maxLength":100},"id":{"type":"number"},"type":{"type":"string","minLength":1,"maxLength":50},"avatar_url":{"type":"string","minLength":1,"maxLength":2048},"html_url":{"type":"string","minLength":1,"maxLength":2048}},"required":["login","id","type","avatar_url","html_url"]}},"required":["id","html_url","name","full_name","owner"]}}}},"required":["url","tag"]},"auto_deploy":{"type":"boolean"}}}},"required":["chart"]},"minItems":1},"registry_proxy_mode":{"type":"string","enum":["auto","always","never"]}}}}}},"responses":{"200":{"description":"Template updated","content":{"application/json":{"schema":{"type":"object","properties":{"template_id":{"type":"string"}},"required":["template_id"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Template not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"delete":{"tags":["Templates"],"summary":"Delete template","description":"Fails if referenced by products or installs.","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Template ID"},"required":true,"description":"Template ID","name":"id","in":"path"}],"responses":{"204":{"description":"Template deleted"},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Template not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"409":{"description":"Template is referenced by products or installs","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/products":{"get":{"tags":["Products"],"summary":"List products in workspace","description":"Returns all products belonging to the workspace specified in the X-Workspace-Id header.","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Pagination cursor from previous response"},"required":false,"description":"Pagination cursor from previous response","name":"cursor","in":"query"},{"schema":{"type":"integer","minimum":1,"maximum":100,"default":50,"description":"Items per page (1-100)","example":50},"required":false,"description":"Items per page (1-100)","name":"limit","in":"query"}],"responses":{"200":{"description":"List of products","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductList"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Missing or invalid workspace","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"post":{"tags":["Products"],"summary":"Create product","description":"Creates a product with helm sources and cluster associations. Triggers async chart generation.","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":2,"maxLength":32,"example":"PostgreSQL Managed"},"sources":{"type":"array","items":{"type":"object","properties":{"chart":{"type":"object","properties":{"repo_url":{"type":"string","minLength":1,"maxLength":2048},"chart":{"type":"string","minLength":1,"maxLength":100},"target_revision":{"type":"string","minLength":1,"maxLength":100},"path":{"type":"string","minLength":1,"maxLength":500}},"required":["repo_url","target_revision"]},"values":{"type":"object","additionalProperties":{"nullable":true}},"metadata":{"type":"object","additionalProperties":{"nullable":true}}},"required":["chart"]},"minItems":1},"cluster_ids":{"type":"array","items":{"type":"string"},"minItems":1,"description":"Cluster IDs to deploy to"},"stripe_price_ids":{"type":"array","items":{"type":"string"}},"settings":{"type":"object","properties":{"custom_image":{"type":"string","minLength":1,"maxLength":2048},"custom_description":{"type":"string","minLength":1,"maxLength":500},"show_sources":{"type":"boolean"}}}},"required":["name","sources","cluster_ids"]}}}},"responses":{"201":{"description":"Product created","content":{"application/json":{"schema":{"type":"object","properties":{"product_id":{"type":"string"},"template_id":{"type":"string"}},"required":["product_id","template_id"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Missing or invalid workspace","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/products/{id}":{"get":{"tags":["Products"],"summary":"Get product details","description":"Returns product metadata including template reference and marketplace settings.","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Product ID"},"required":true,"description":"Product ID","name":"id","in":"path"}],"responses":{"200":{"description":"Product details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Product"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Product not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"patch":{"tags":["Products"],"summary":"Update product","description":"Replaces product configuration including helm sources, clusters, and settings. Triggers async chart regeneration.","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Product ID"},"required":true,"description":"Product ID","name":"id","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":2,"maxLength":32,"example":"PostgreSQL Managed"},"sources":{"type":"array","items":{"type":"object","properties":{"chart":{"type":"object","properties":{"repo_url":{"type":"string","minLength":1,"maxLength":2048},"chart":{"type":"string","minLength":1,"maxLength":100},"target_revision":{"type":"string","minLength":1,"maxLength":100},"path":{"type":"string","minLength":1,"maxLength":500}},"required":["repo_url","target_revision"]},"values":{"type":"object","additionalProperties":{"nullable":true}},"metadata":{"type":"object","additionalProperties":{"nullable":true}}},"required":["chart"]},"minItems":1},"cluster_ids":{"type":"array","items":{"type":"string"},"minItems":1},"stripe_price_ids":{"type":"array","items":{"type":"string"}},"settings":{"type":"object","properties":{"custom_image":{"type":"string","minLength":1,"maxLength":2048},"custom_description":{"type":"string","minLength":1,"maxLength":500},"show_sources":{"type":"boolean"}}}},"required":["name","sources","cluster_ids"]}}}},"responses":{"200":{"description":"Product updated","content":{"application/json":{"schema":{"type":"object","properties":{"product_id":{"type":"string"},"template_id":{"type":"string"}},"required":["product_id","template_id"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Product not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"delete":{"tags":["Products"],"summary":"Delete product","description":"Fails if the product has active installs.","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Product ID"},"required":true,"description":"Product ID","name":"id","in":"path"}],"responses":{"204":{"description":"Product deleted"},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Product not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"409":{"description":"Product has active installs","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/installs":{"get":{"tags":["Installs"],"summary":"List installs in workspace","description":"Returns all installs belonging to the workspace specified in the X-Workspace-Id header.","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Pagination cursor from previous response"},"required":false,"description":"Pagination cursor from previous response","name":"cursor","in":"query"},{"schema":{"type":"integer","minimum":1,"maximum":100,"default":50,"description":"Items per page (1-100)","example":50},"required":false,"description":"Items per page (1-100)","name":"limit","in":"query"}],"responses":{"200":{"description":"List of installs","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InstallList"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Missing or invalid workspace","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"post":{"tags":["Installs"],"summary":"Create product install","description":"Deploys a product to a region. Pass an `Idempotency-Key` header to safely retry on timeout.","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","minLength":1,"maxLength":256,"description":"Unique key to prevent duplicate operations. If the same key is sent again, the existing workflow is returned instead of creating a new one.","example":"deploy-prod-2024-03-15"},"required":false,"description":"Unique key to prevent duplicate operations. If the same key is sent again, the existing workflow is returned instead of creating a new one.","name":"idempotency-key","in":"header"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"product_id":{"type":"string","minLength":1,"description":"Product ID"},"region_id":{"type":"string","minLength":1,"description":"Region ID"},"overrides":{"type":"array","items":{"type":"object","properties":{"template_helm_source_id":{"type":"string","minLength":1,"description":"Helm source ID to override"},"values":{"type":"object","additionalProperties":{"nullable":true},"description":"Helm values"}},"required":["template_helm_source_id","values"]},"description":"Initial value overrides per helm source"}},"required":["product_id","region_id"]}}}},"responses":{"202":{"description":"Install workflow started"},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Missing or invalid workspace","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/installs/{id}":{"get":{"tags":["Installs"],"summary":"Get install details","description":"Returns install metadata including its product, template, and cluster references.","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Install ID"},"required":true,"description":"Install ID","name":"id","in":"path"}],"responses":{"200":{"description":"Install details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Install"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Install not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"delete":{"tags":["Installs"],"summary":"Delete install","description":"Triggers async deletion of the install and its resources.","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Install ID"},"required":true,"description":"Install ID","name":"id","in":"path"}],"responses":{"202":{"description":"Deletion started"},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Install not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/installs/{id}/pods":{"get":{"tags":["Installs"],"summary":"List pods for install","description":"Returns pods and their containers for the install.","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Install ID"},"required":true,"description":"Install ID","name":"id","in":"path"}],"responses":{"200":{"description":"List of pods","content":{"application/json":{"schema":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Pod"}}},"required":["data"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Install not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/installs/standalone":{"post":{"tags":["Installs"],"summary":"Create standalone install","description":"Deploys custom helm sources directly to clusters without a product. Pass an `Idempotency-Key` header to safely retry on timeout.","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","minLength":1,"maxLength":256,"description":"Unique key to prevent duplicate operations. If the same key is sent again, the existing workflow is returned instead of creating a new one.","example":"deploy-prod-2024-03-15"},"required":false,"description":"Unique key to prevent duplicate operations. If the same key is sent again, the existing workflow is returned instead of creating a new one.","name":"idempotency-key","in":"header"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":100,"example":"my-redis"},"cluster_ids":{"type":"array","items":{"type":"string"},"minItems":1,"description":"Cluster IDs to deploy to"},"helm_sources":{"type":"array","items":{"type":"object","properties":{"chart":{"type":"object","properties":{"repo_url":{"type":"string","minLength":1,"maxLength":2048},"chart":{"type":"string","minLength":1,"maxLength":100},"target_revision":{"type":"string","minLength":1,"maxLength":100},"path":{"type":"string","minLength":1,"maxLength":500}},"required":["repo_url","target_revision"]},"values":{"type":"object","additionalProperties":{"nullable":true}},"metadata":{"type":"object","additionalProperties":{"nullable":true}}},"required":["chart"]},"minItems":1}},"required":["name","cluster_ids","helm_sources"]}}}},"responses":{"202":{"description":"Install workflow started"},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Missing or invalid workspace","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/installs/{id}/values":{"patch":{"tags":["Installs"],"summary":"Update install template values","description":"Updates template helm source values and regenerates the chart. Use this for standalone installs or to change the base values of a product install.","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Install ID"},"required":true,"description":"Install ID","name":"id","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"updates":{"type":"array","items":{"type":"object","properties":{"template_helm_source_id":{"type":"string","minLength":1,"description":"Helm source ID"},"values":{"type":"object","additionalProperties":{"nullable":true},"description":"Helm values"}},"required":["template_helm_source_id","values"]},"minItems":1}},"required":["updates"]}}}},"responses":{"202":{"description":"Update workflow started"},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Install not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/installs/{id}/overrides":{"patch":{"tags":["Installs"],"summary":"Update install value overrides","description":"Applies per-install value overrides on top of the product base values. Does not regenerate the chart.","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Install ID"},"required":true,"description":"Install ID","name":"id","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"updates":{"type":"array","items":{"type":"object","properties":{"template_helm_source_id":{"type":"string","minLength":1,"description":"Helm source ID"},"values":{"type":"object","additionalProperties":{"nullable":true},"description":"Override values"}},"required":["template_helm_source_id","values"]},"minItems":1}},"required":["updates"]}}}},"responses":{"202":{"description":"Update workflow started"},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Install not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/installs/{id}/logs":{"get":{"tags":["Installs"],"summary":"Stream install logs","description":"Streams logs from the install pods via Server-Sent Events. Use the `Accept: text/event-stream` header.","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Install ID"},"required":true,"description":"Install ID","name":"id","in":"path"},{"schema":{"type":"string","minLength":1,"maxLength":253,"description":"Pod name (all pods if omitted)"},"required":false,"description":"Pod name (all pods if omitted)","name":"pod","in":"query"},{"schema":{"type":"string","minLength":1,"maxLength":253,"description":"Container name"},"required":false,"description":"Container name","name":"container","in":"query"},{"schema":{"type":"boolean","nullable":true,"default":true,"description":"Follow log output"},"required":false,"description":"Follow log output","name":"follow","in":"query"},{"schema":{"type":"integer","nullable":true,"description":"Lines to tail"},"required":false,"description":"Lines to tail","name":"tail","in":"query"},{"schema":{"type":"integer","nullable":true,"default":0,"description":"Only return logs newer than this many seconds"},"required":false,"description":"Only return logs newer than this many seconds","name":"since_seconds","in":"query"}],"responses":{"200":{"description":"Log stream (text/event-stream)"},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Install not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/regions":{"get":{"tags":["Regions"],"summary":"List regions in workspace","description":"Returns all regions belonging to the workspace specified in the X-Workspace-Id header.","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Pagination cursor from previous response"},"required":false,"description":"Pagination cursor from previous response","name":"cursor","in":"query"},{"schema":{"type":"integer","minimum":1,"maximum":100,"default":50,"description":"Items per page (1-100)","example":50},"required":false,"description":"Items per page (1-100)","name":"limit","in":"query"}],"responses":{"200":{"description":"List of regions","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegionList"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Missing or invalid workspace","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"post":{"tags":["Regions"],"summary":"Create region","description":"Creates a named region in the workspace. Regions group clusters geographically for marketplace display.","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":100,"example":"us-east-1"},"icon":{"type":"string","maxLength":256,"format":"uri","description":"Icon URL"}},"required":["name"]}}}},"responses":{"201":{"description":"Region created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Region"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Missing or invalid workspace","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/registry/credentials":{"get":{"tags":["Registry"],"summary":"List registry credentials","description":"Returns credentials for the workspace. Credential secrets are never exposed.","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Pagination cursor from previous response"},"required":false,"description":"Pagination cursor from previous response","name":"cursor","in":"query"},{"schema":{"type":"integer","minimum":1,"maximum":100,"default":50,"description":"Items per page (1-100)","example":50},"required":false,"description":"Items per page (1-100)","name":"limit","in":"query"}],"responses":{"200":{"description":"List of credentials","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegistryCredentialList"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Missing or invalid workspace","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"post":{"tags":["Registry"],"summary":"Create registry credential","description":"Adds a registry credential to the workspace for OCI proxy authentication.","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":100,"example":"GitHub Container Registry"},"registry_url":{"type":"string","minLength":1,"maxLength":2048,"example":"ghcr.io"},"type":{"type":"string","enum":["basic","token","oauth"],"description":"Auth type"},"credentials":{"type":"object","properties":{"username":{"type":"string","minLength":1,"maxLength":200,"description":"Username for basic auth"},"password":{"type":"string","minLength":1,"maxLength":500,"description":"Password for basic auth"},"token":{"type":"string","minLength":1,"maxLength":2000,"description":"Bearer token for token auth"},"client_id":{"type":"string","minLength":1,"maxLength":200,"description":"Client ID for OAuth"},"client_secret":{"type":"string","minLength":1,"maxLength":500,"description":"Client secret for OAuth"},"token_url":{"type":"string","minLength":1,"maxLength":2048,"description":"Token endpoint URL for OAuth"}},"description":"Auth credentials (type-dependent)"}},"required":["name","registry_url","type","credentials"]}}}},"responses":{"201":{"description":"Credential created"},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Missing or invalid workspace","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/registry/credentials/{id}":{"delete":{"tags":["Registry"],"summary":"Delete registry credential","description":"Permanently removes a registry credential. Active installs using this credential may lose pull access.","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Credential ID"},"required":true,"description":"Credential ID","name":"id","in":"path"}],"responses":{"204":{"description":"Credential deleted"},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Credential not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/clusters/{id}/kube/{path}":{"get":{"tags":["Clusters"],"summary":"Proxy to Kubernetes API","description":"Transparent proxy to the cluster's Kubernetes API server. The path after `/kube/` is forwarded directly. All HTTP methods are supported.\n\n**Examples:**\n- `GET /clusters/{id}/kube/api/v1/namespaces` — list namespaces\n- `GET /clusters/{id}/kube/api/v1/namespaces/{ns}/pods` — list pods\n- `GET /clusters/{id}/kube/api/v1/namespaces/{ns}/pods/{pod}/log?tailLines=100` — pod logs\n- `GET /clusters/{id}/kube/apis/apps/v1/namespaces/{ns}/deployments` — list deployments\n- `GET /clusters/{id}/kube/openapi/v3` — Kubernetes OpenAPI spec","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Cluster ID"},"required":true,"description":"Cluster ID","name":"id","in":"path"},{"schema":{"type":"string","description":"Kubernetes API path","example":"api/v1/namespaces"},"required":true,"description":"Kubernetes API path","name":"path","in":"path"}],"responses":{"200":{"description":"Kubernetes API response"},"400":{"description":"Cluster not running","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Cluster not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"502":{"description":"Failed to proxy to Kubernetes API","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"504":{"description":"Kubernetes API request timed out","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/clusters/{id}/exec":{"post":{"tags":["Clusters"],"summary":"Execute command in pod","description":"Runs a command in a pod container and returns stdout, stderr, and exit code. Non-interactive (no TTY, no stdin). Timeout: 30 seconds.","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Cluster ID"},"required":true,"description":"Cluster ID","name":"id","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"namespace":{"type":"string","minLength":1,"maxLength":253,"example":"default","description":"Kubernetes namespace"},"pod":{"type":"string","minLength":1,"maxLength":253,"example":"postgres-0","description":"Pod name"},"container":{"type":"string","minLength":1,"maxLength":253,"example":"postgresql","description":"Container name within the pod"},"command":{"type":"array","items":{"type":"string"},"minItems":1,"example":["cat","/etc/hostname"],"description":"Command and arguments"}},"required":["namespace","pod","container","command"]}}}},"responses":{"200":{"description":"Command result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExecResult"}}}},"400":{"description":"Cluster not running or invalid request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Cluster not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"408":{"description":"Command timed out","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"500":{"description":"Execution error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/snippets":{"get":{"tags":["Snippets"],"summary":"List snippets in workspace","description":"Returns all snippets belonging to the workspace specified in the X-Workspace-Id header.","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Pagination cursor from previous response"},"required":false,"description":"Pagination cursor from previous response","name":"cursor","in":"query"},{"schema":{"type":"integer","minimum":1,"maximum":100,"default":50,"description":"Items per page (1-100)","example":50},"required":false,"description":"Items per page (1-100)","name":"limit","in":"query"}],"responses":{"200":{"description":"List of snippets","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SnippetList"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Missing or invalid workspace","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"post":{"tags":["Snippets"],"summary":"Create snippet","description":"Creates a reusable code snippet in the workspace. Snippets are async JavaScript functions executed in a sandboxed V8 isolate with access to cnap.request() for API calls.","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":100,"example":"Cluster Resource Audit"},"description":{"type":"string","maxLength":500,"description":"Optional human-readable description"},"code":{"type":"string","minLength":1,"maxLength":50000,"description":"Async JavaScript function body. Executed in a sandboxed V8 isolate with access to cnap.request()."},"display_type":{"type":"string","enum":["table","stat","json","logs"],"description":"Controls how the snippet result is rendered in dashboard widgets"}},"required":["name","code","display_type"]}}}},"responses":{"201":{"description":"Snippet created","content":{"application/json":{"schema":{"type":"object","properties":{"snippet_id":{"type":"string"}},"required":["snippet_id"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Missing or invalid workspace","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"422":{"description":"Validation error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/snippets/{id}":{"get":{"tags":["Snippets"],"summary":"Get snippet details","description":"Returns a snippet including its code and display type.","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Snippet ID"},"required":true,"description":"Snippet ID","name":"id","in":"path"}],"responses":{"200":{"description":"Snippet details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Snippet"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Snippet not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"patch":{"tags":["Snippets"],"summary":"Update snippet","description":"Updates snippet properties. Only provided fields are changed. Dashboards using this snippet will pick up code changes on next run.","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Snippet ID"},"required":true,"description":"Snippet ID","name":"id","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":100},"description":{"type":"string","maxLength":500},"code":{"type":"string","minLength":1,"maxLength":50000},"display_type":{"type":"string","enum":["table","stat","json","logs"],"description":"Controls how the snippet result is rendered in dashboard widgets"}}}}}},"responses":{"200":{"description":"Snippet updated","content":{"application/json":{"schema":{"type":"object","properties":{"snippet_id":{"type":"string"}},"required":["snippet_id"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Snippet not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"delete":{"tags":["Snippets"],"summary":"Delete snippet","description":"Permanently deletes a snippet. Fails with 409 if the snippet is referenced by any dashboard widgets.","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Snippet ID"},"required":true,"description":"Snippet ID","name":"id","in":"path"}],"responses":{"204":{"description":"Snippet deleted"},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Snippet not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"409":{"description":"Snippet is referenced by dashboards","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/dashboards":{"get":{"tags":["Dashboards"],"summary":"List dashboards in workspace","description":"Returns all dashboards belonging to the workspace specified in the X-Workspace-Id header.","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Pagination cursor from previous response"},"required":false,"description":"Pagination cursor from previous response","name":"cursor","in":"query"},{"schema":{"type":"integer","minimum":1,"maximum":100,"default":50,"description":"Items per page (1-100)","example":50},"required":false,"description":"Items per page (1-100)","name":"limit","in":"query"}],"responses":{"200":{"description":"List of dashboards","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DashboardList"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Missing or invalid workspace","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"post":{"tags":["Dashboards"],"summary":"Create dashboard","description":"Creates a dashboard with an optional initial widget layout. Each widget references a snippet by ID and can override its display type.","security":[{"BearerAuth":[]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":100,"example":"Cluster Overview"},"description":{"type":"string","maxLength":500},"widgets":{"type":"array","items":{"type":"object","properties":{"snippet_id":{"type":"string","minLength":1},"col_span":{"type":"integer","minimum":1,"maximum":4,"default":2},"display_type":{"type":"string","enum":["table","stat","json","logs"],"description":"Controls how the snippet result is rendered in dashboard widgets"}},"required":["snippet_id"]}}},"required":["name"]}}}},"responses":{"201":{"description":"Dashboard created","content":{"application/json":{"schema":{"type":"object","properties":{"dashboard_id":{"type":"string"}},"required":["dashboard_id"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"403":{"description":"Missing or invalid workspace","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}},"/v1/dashboards/{id}":{"get":{"tags":["Dashboards"],"summary":"Get dashboard details","description":"Returns a dashboard including its widget layout and snippet references.","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Dashboard ID"},"required":true,"description":"Dashboard ID","name":"id","in":"path"}],"responses":{"200":{"description":"Dashboard details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Dashboard"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Dashboard not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"patch":{"tags":["Dashboards"],"summary":"Update dashboard","description":"Update dashboard metadata and/or widget layout.","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Dashboard ID"},"required":true,"description":"Dashboard ID","name":"id","in":"path"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","minLength":1,"maxLength":100},"description":{"type":"string","maxLength":500},"widgets":{"type":"array","items":{"type":"object","properties":{"snippet_id":{"type":"string","minLength":1},"col_span":{"type":"integer","minimum":1,"maximum":4,"default":2},"display_type":{"type":"string","enum":["table","stat","json","logs"],"description":"Controls how the snippet result is rendered in dashboard widgets"}},"required":["snippet_id"]}}}}}}},"responses":{"200":{"description":"Dashboard updated","content":{"application/json":{"schema":{"type":"object","properties":{"dashboard_id":{"type":"string"}},"required":["dashboard_id"]}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Dashboard not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}},"delete":{"tags":["Dashboards"],"summary":"Delete dashboard","description":"Permanently deletes a dashboard. Referenced snippets are not affected.","security":[{"BearerAuth":[]}],"parameters":[{"schema":{"type":"string","description":"Dashboard ID"},"required":true,"description":"Dashboard ID","name":"id","in":"path"}],"responses":{"204":{"description":"Dashboard deleted"},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"404":{"description":"Dashboard not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}}}}}}}